{% extends "base.html" %}

{% block content %}
<div class="docs-shell">
  {% include "partials/docs-sidebar.html" %}

  <article class="docs-content content">
    {% include "partials/docs-breadcrumbs.html" %}

    <header class="page-header">
      <h1>{{ page.title }}</h1>

      {% if page.description %}
      <p class="page-description">
        {{ page.description }}
      </p>
      {% endif %}
    </header>

    {{ page.content | safe }}

    {% include "partials/docs-prev-next.html" %}
  </article>

  {% set toc_items = page.toc %}
  {% include "partials/docs-toc.html" %}
</div>
{% endblock content %}
